[Unit]
Description=Sending FAX daemon
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/pysendfax
WorkingDirectory=/usr/local/lib/pysendfax
ExecStart=/usr/local/lib/pysendfax/uploader.py ${HOST} ${PORT} ${ENDPOINT} ${CONTEXT} -a ${APP}

[Install]
WantedBy=multi-user.target
